main{
    display:flex;
    justify-content: space-between;
    font-family: sans-serif;
    border: 1px solid grey;
    height: 100%;
    min-height: 900px;
}
.nav{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 25%;
}
.friendfeed{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 25%;
}
.newsfeed{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 50%;
}
.fav div{
    display: flex;
    flex-direction:column;
    font-size: 10px;
}
.ad div{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.pages div{
    display:flex;
    flex-direction: column;
    font-size: 10px;
}
.apps div{
    display: flex;
    flex-direction: colum;
    font-size: 10px;
}
.events div{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.ads{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.ads div{
    width:50%;
}
main div div{
    border: 1px solid grey;
}
main div div div{
    border: 1px solid grey;
}